html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

#logo {
	padding-top: 180px;
	text-align: center;
	padding-bottom: 15px;
}

#header {
	display: flex;
	padding-left: 20px;
	padding-top: 20px;
	font-size: 12px;
	color: #333333;
}

	#left {
		display: flex;
		margin-top: 8px;
	}

		#about {
			padding-right: 20px;
		}

		#store {
			padding-right: 20px;
		}

	#right {
		display: flex;
		margin-left: auto;
	}

		#gmail {
			padding-right: 20px;
			margin-top: 8px;

		}

		#images {
			padding-right: 20px;
			margin-top: 8px;
		}

		#menu {
			padding-right: 20px;
			margin-top: 8px;
		}

		#account {
			padding-right: 20px;
			margin-top: 0px;
		}

#header button {
	background-color: #4C87FB;
	color: white;
	height: 30px;
	width: 70px;
	border: none;
	shape-margin-right: 10px;
}

form {
}

form input {
	background: #fff;
	display: flex;
	border-radius: 8px;
	border: 1px solid #dfe1e5;
	box-shadow: none;
	border-radius: 24px;
	height: 44px;
	margin: 0 auto;
	width: 582px;
	position: relative;
	z-index: -1;
}

#magnifying-glass img {
	position: absolute;
	margin-top: 16px;
	margin-left: 680px;
	width: 15px;
	height: auto;
}

#microphone img {
	position: absolute;
	margin-left: 1210px;
	margin-top: 10px;
	width: 30px;
	height: auto;
}

#search-buttons {
	display: flex;
	justify-content: center;
	padding-top: 30px;
}

	#search-left button {
		color: #4d4d4d;
		background-color: #f2f2f2;
		height: 35px;
		width: 120px;
		color: #666666;
		border: none;
		shape-margin-right: 10px;
	}

	#search-right button {
		color: #4d4d4d;
		background-color: #f2f2f2;
		height: 35px;
		width: 140px;
		color: #666666;
		border: none;
		margin-left: 10px;
	}

footer {
	display: flex;
    height: 40px;
    background-color: #f2f2f2;
    position: fixed;
    bottom: 0;
    width: 100%;
    vertical-align: middle;
    font-size: 13.5px;
    color: #666666;
}

#footer-left {
	display: flex;
	padding-top: 10px;
	padding-left: 20px;
}

	#advertising {
		padding-right: 20px;
	}

	#business {
		padding-right: 20px;
	}

	#how {
		padding-right: 20px;
	}


#footer-right {
	display: flex;
	margin-left: auto;
	padding-top: 10px;
}
	
	#privacy {
		padding-right: 20px;
	}

	#terms {
		padding-right: 20px;
	}

	#settings {
		padding-right: 20px;
	}

body {
	min-height: 100%;
}
